<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>940962548683-0lomhql8857olcq52p6oug4m0smu4f9d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.940962548683-0lomhql8857olcq52p6oug4m0smu4f9d</string>
	<key>API_KEY</key>
	<string>AIzaSyBFC9Fg8Ub61Uh5C6NRa78DfIO0tUQiFnI</string>
	<key>GCM_SENDER_ID</key>
	<string>940962548683</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.salle.pokedex</string>
	<key>PROJECT_ID</key>
	<string>pokedex-salle</string>
	<key>STORAGE_BUCKET</key>
	<string>pokedex-salle.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:940962548683:ios:2039c70bf669d8a0b9044e</string>
</dict>
</plist>